<div class="card">
  <img src="{{avatar}}">
  <h3><a href="/robots/{{_id}}">{{name}}</a></h3>
  <h4>{{username}}</h4>
  {{#job}}<p>{{job}}, {{company}}</p>{{/job}}
  {{^job}}<p class="no-job">Available for hire!</p>{{/job}}
</div>
