{{>_header}}
<div class="edit">

  <form class="edit" action="" method="POST">
    <input type="text" name="" value="">
    <input type="text" name="" value="">
    <input type="text" name="" value="">
    <input type="text" name="" value="">
    <input type="text" name="" value="">
    <input type="text" name="" value="">
    <input type="text" name="" value="">
    <input type="text" name="" value="">
    <input type="text" name="" value="">
    <input type="text" name="" value="">
    <input type="text" name="" value="">
    <input type="text" name="" value="">
    <input type="text" name="" value="">
    <input type="text" name="" value="">
  </form>

</div>
{{>_footer}}
