{{>_header}}
{{#loggedIn}}<h6>Welcome back, {{userSession.robot.name}}!</h6>{{/loggedIn}}
<nav>
  <a href="/robots/unemployed">Currently Unemployed</a> ||
  <a href="/robots/employed">Currently Employed</a> ||
  {{^loggedIn}}<a href="/">Login</a>{{/loggedIn}}
  {{#loggedIn}}<a href="/robots/logout">Logout</a>{{/loggedIn}}
</nav>
  <main>
    {{#robots}}
      {{>_preview}}
    {{/robots}}
  </main>
  {{>_footer}}
