{{>_header}}
<h2>Sign Up for RoboMATCH!</h2>
<div class="signup">
  <form class="signup-form" action="/signed" method="POST">
    <input type="text" name="username" placeholder="username" autofocus required>
    <input type="password" name="password" placeholder="password" required>
    <button type="submit" name="button">Sign Up!</button>
  </form>
</div>
{{>_footer}}
